.about-section {
  padding: 140px 0;
  background-image: url("/assets/about-section-bg.png");
  background-size: 100% 484px;
  background-position: bottom;
  background-repeat: no-repeat;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__img {
  }

  &__text-box {
    max-width: 390px;
    width: 100%;

    h6 {
      font-family: Lato;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #1e212c;
      margin-bottom: 8px;
    }

    h2 {
      font-family: Lato;
      font-weight: 900;
      font-size: 46px;
      line-height: 1.3;
      letter-spacing: 0;
      color: #1e212c;
      margin-bottom: 40px;
    }

 
  }
}

