<!-- htmlhint doctype-first:false, attr-lowercase:false -->

<section class="about-section">
    <div class="about-section__container container">
        <img src="assets/about-section-img.webp" alt="about-section-img" width="705" height="560" class="about-section__img">
        <div class="about-section__text-box">
            <h6>
                Who we are
            </h6>
            <h2>
                Why Createx?
            </h2>
            <app-check-list [checkListItems]="checkListItems" class="about-section__check-list"></app-check-list>
            <app-button-component [routerLink]="buttonRouterLink" [text]="buttonText"  [variant]="'primary'"></app-button-component>  <!-- [variant] по умолчанию primary. Можно не указывать -->
        </div>
    </div>
</section>
