<!-- htmlhint doctype-first:false, attr-lowercase:false -->

<section class="hero">
  <div class="hero__container container">
    <div class="hero__inner">
      <div class="hero__text-box">
        <div class="hero__play">
          <img
            src="assets/play.svg"
            alt="play"
            width="84"
            height="84"
            class="hero__play-img"
          />
          <p>Play showreel</p>
        </div>
        <h1 class="hero__title">Enjoy studying with Createx Online Courses</h1>
        <div class="hero__buttons">
            <a routerLink="/about-us" class="btn-outline">About us</a>
            <a routerLink="/courses" class="btn">Explore courses</a>
        </div>
      </div>
      <div class="hero__img-box">
        <img src="assets/hero-img.png" alt="hero" width="602" height="551" class="hero__img">
      </div>
    </div>
      <ul class="hero__stats stats-list">
        <li class="stats-list__item">
            <span class="extra-bold">
                1200
            </span>
            <p>
                Students graduated
            </p>
        </li>
        <li class="divider"></li>
        <li class="stats-list__item">
            <span class="extra-bold">
                84
            </span>
            <p>
                Completed courses
            </p>
        </li>
        <li class="divider"></li>
        <li class="stats-list__item">
            <span class="extra-bold">
                16
            </span>
            <p>
                Qualified tutors
            </p>
        </li>
        <li class="divider"></li>
        <li class="stats-list__item">
            <span class="extra-bold">
              5
            </span>
            <p>
                Years of experience
            </p>
        </li>
      </ul>
  </div>
</section>
