<!-- htmlhint doctype-first:false, attr-lowercase:false -->

<section class="hero">
  <div class="hero__container container">
    <div class="hero__inner">
      <div class="hero__text-box">
        <div class="hero__play">
          <img
            src="assets/play.svg"
            alt="play"
            width="84"
            height="84"
            class="hero__play-img"
          />
          <p>Play showreel</p>
        </div>
        <h1 class="hero__title">Enjoy studying with Createx Online Courses</h1>
        <div class="hero__buttons">
            <app-button-component [routerLink]="aboutButtonRouterLink" [text]="aboutButtonText" [variant]="'outline'"></app-button-component>
          <app-button-component [routerLink]="coursesButtonRouterLink" [text]="coursesButtonText" [variant]="'primary'"></app-button-component>
        </div>
      </div>
      <div class="hero__img-box">
        <img src="assets/hero-img.png" alt="hero" width="602" height="551" class="hero__img">
      </div>
    </div>
      <ul class="hero__stats stats-list">
        <ng-container *ngFor=" let item of statsList">
          <li class="stats-list__item">
            <span class="extra-bold">
               {{item.counter}}
            </span>
            <p>
                {{item.title}}
            </p>
        </li>
        <li class="divider"></li>
        </ng-container>
        
      
      </ul>

  </div>
</section>
