.course-list {
  &__item {
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    background: #ffffff;
    border: 1px solid #e5e8ed;
    overflow: hidden;
    transition:  box-shadow ease-in-out 0.24s ;

    &:hover,
    &:focus {
      box-shadow: 0px 4px 4px -4px #1E212C0D;

box-shadow: 0px 12px 10px -6px #9A9CA514;

box-shadow: 0px 30px 24px -10px #9A9CA51A;

box-shadow: 0px 80px 80px -20px #9A9CA529;

    }
    

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    h3 {
      font-weight: 700;
      font-size: 20px;
      line-height: 1.5;
      letter-spacing: 0%;
      color: #1e212c;
    }
  }

  &__content {
    width: 100%;
    padding: 32px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 20px;
    box-shadow: 0px 4px 4px -4px #1e212c08;

    box-shadow: 0px 12px 10px -6px #9a9ca50a;

    box-shadow: 0px 30px 24px -10px #9a9ca50d;

    box-shadow: 0px 80px 80px -20px #9a9ca514;
  }

  &__item-category {
    display: block;
    height: 23px;
    width: fit-content;
    background: #03cea4;
    border-radius: 4px;
    padding: 1px 8px;

    font-weight: 400;
    font-size: 14px;

    line-height: 1.5;
    letter-spacing: 0%;
    color: #fff;
  }

  &__box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 8px;

  p {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #787A80;
  }
  }

  &__price {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0%;
    color: #ff4242;
  }

 
   .background {
    background:#03cea4
   }
 
}

:host-context(.courses-section) .course-list__link {
  img {
    max-width: 214px;
    height: 214px;
  }
}
