.btn, .btn-outline {
display: flex;
width: fit-content;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  line-height: 52px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.5px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: all ease-in-out 0.24s;
}

.btn {
  
  background: var(--btn-primary);
  color: var(--color-white);

  &:hover,
  &:focus {
    transform: scale(0.95);
  }
}



.btn-outline {
  background: transparent;
  color: #ff3f3a;
  border: 1px solid #ff3f3a;
  &:hover,
  &:focus {
    background: #ff3f3a;
    color: var(--color-white);
  }
}

:host-context(.events-section) .btn-outline {
  padding: 0 32px;
}


