.events-section {
  padding: 80px 0;
  background-image: url(/assets/events-section-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__container {
   
  }

  &__title {
    text-align: center;
    margin-bottom: 60px;
    h6 {
      font-family: Lato;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #1e212c;
      margin-bottom: 8px;
    }

    h2 {
      font-family: Lato;
      font-weight: 900;
      font-size: 46px;
      line-height: 1.3;
      letter-spacing: 0;
      color: #1e212c;
    }
  }

  &__cta {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 40px;

    h3 {
        font-family: Lato;
font-weight: 700;
font-size: 28px;
line-height: 1.5;
letter-spacing: 0%;
vertical-align: middle;

    }
  }
}
