<section class="events-section">
  <div class="events-section__container container">
    <div class="events-section__title">
      <h6>Our Events</h6>
      <h2>Lectures & workshops</h2>
    </div>
    <app-events-list [events]="events" [quantityCards]="3"></app-events-list>

    <div class="events-section__cta">
        <h3>
            Do you want more?
        </h3>
        <app-button-component variant="primary" [routerLink]="buttonLink" [text]="buttonText" ></app-button-component>
    </div>
  </div>
</section>
