.courses-section {
    padding-bottom: 140px;

    h6 {
      font-family: Lato;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #1e212c;
      margin-bottom: 8px;
    }

    h2 {
      font-family: Lato;
      font-weight: 900;
      font-size: 46px;
      line-height: 1.3;
      letter-spacing: 0;
      color: #1e212c;
  
    }

    &__title {
        display: flex;
        justify-content: space-between;
        align-items:center;
        margin-bottom: 60px;
    }
}