.benefits-section {
  padding-bottom: 140px;
  &__container {
  }

  &__title {
    text-align: center;
    margin-bottom: 60px;
    h6 {
      font-family: Lato;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #1e212c;
      margin-bottom: 8px;
    }

    h2 {
      font-family: Lato;
      font-weight: 900;
      font-size: 46px;
      line-height: 1.3;
      letter-spacing: 0;
      color: #1e212c;
    }
  }

  .benefits-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;

    &__item {
      width: 25%;
      padding: 10px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 8px;
      cursor: pointer;
      border: 1px solid transparent;
      transition: border ease-in-out 0.24s;
      border-radius: 4px;

      &:hover,
      &:focus {
        p {
          color: #ff3f3a;
        }

        .benefits-list__icon {
          color: #ff3f3a;
        }
      }

      p {
        font-weight: 700;
        font-size: 16px;

        line-height: 1.6;
        letter-spacing: 0%;
        text-align: center;
        color: #9a9ca5;
        transition: all ease-in-out 0.24s;
      }
    }

    &__icon {
      transition: all ease-in-out 0.24s;
      color: #9a9ca5;
    }

    .active {
      border: 1px solid #ff3f3a;

      p {
        color: #ff3f3a;
      }

      .benefits-list__icon {
        color: #ff3f3a;
      }
    }
  }

  &__inner {
  }

  &__info-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text-box {
    max-width: 495px;
    width: 100%;

    h3 {
      
font-weight: 900;
font-size: 32px;

line-height: 1.3;
letter-spacing: 0%;
color: #1E212C;
margin-bottom: 24px;

    }

    p {
   
font-weight: 400;
font-size: 16px;

line-height: 1.6;
letter-spacing: 0%;
color: #424551;

    }

  }
}
