<li class="events-list__item">
        <div class="events-list__date">
          <span class="date"> 05 </span>
          <div class="events-list__box">
            <h5 class="events-list__mounth">August</h5>
            <p class="events-list__time">11:00 – 14:00</p>
          </div>
        </div>
        <div class="events-list__info">
          <h5 class="events-list__title">
            Formation of the organizational structure of the company in the face
            of uncertainty.
          </h5>
          <p class="events-list__text">
            Formation of the organizational structure of the company in the face
            of uncertainty.
          </p>
        </div>
</li>
